<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /custommvc/

    # Redirect all requests to the public directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
